/* Custom Properties */

:root {
	--tango: #f26716;
	--fire: #a62f03;
	--indian-tan: #591202;
	--sepia-black: rgb(38, 1, 1);
	--cod-gray: #0d0d0d;
}

/* Reset Styles */

a {
	text-decoration: none;
	color: var(--bs-gray-500);
	transition: all 0.3s ease-out;
}

a:hover {
	color: var(--tango);
}

body {
	font-family: 'Montserrat', sans-serif;
}

small {
	color: var(--bs-gray-500);
}

/* Bootstrap Styles */

.bg-dark {
	background-color: var(--cod-gray) !important;
}

.btn-dark {
	border: none;
	background-color: var(--fire);
	transition: all 0.3s ease-out;
}

.btn-dark:hover {
	background-color: var(--tango);
}

.form-text {
	color: var(--bs-gray-500);
}

.nav-link {
	color: var(--bs-gray-500);
	font-weight: 600;
	transition: all 0.3s ease-out;
}

.nav-link.active {
	color: var(--tango) !important;
}

.nav-link:hover {
	color: var(--tango);
}

/* My Styles */

.bg-hero-image {
	background: linear-gradient(0deg, rgba(38, 1, 1, 0.75), rgba(38, 1, 1, 0.75)),
		var(--bg-image);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	/* .nav-item:hover {
		background-color: transparent;
	} */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
