/* Custom Properties */

/* Reset Styles */

a {
  text-decoration: none;
  color: var(--bs-gray-500);
  transition: all 0.3s ease-out;
}

a:hover {
  color: var(--bs-orange);
}

body {
  font-family: "Montserrat", sans-serif;
}

small {
  color: var(--bs-gray-500);
}

/* Bootstrap Styles */

.navbar-brand img {
  /* width: auto;
  height: 3rem; */
  transition: all 0.3s ease-out;
  filter: drop-shadow(0 0 10px var(--bs-black));
}

.navbar-brand img:hover {
  filter: drop-shadow(0 0 10px var(--bs-danger));
}

.nav-link {
  color: var(--bs-gray-500);
  font-weight: 600;
  transition: all 0.3s ease-out;
}

.nav-link.active {
  color: var(--bs-orange) !important;
}

.nav-link:hover {
  color: var(--bs-orange);
}

/* My Styles */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* .nav-item:hover {
		background-color: transparent;
	} */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
